@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
}

#map {
  height: 100vh;
}

.loading{
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-right: 2px solid transparent;
  border-radius: 50%;
  animation: loading 750ms linear infinite;
}

@keyframes loading{ to{ transform: rotateZ(360deg) } }

.error{
  font-size: 0.8rem;
  color: red;
  margin-bottom: 0.5rem;
}

h2{
  color: #6d6d6d;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.field{
  position: relative;
  margin: 2rem 0;
}

.field input + label{
  position: absolute;
  left: 0;
  top: -50%;
}

.field input{
  padding: 0.5rem 1rem;
  border: 1px solid #eee;
  width: 100%;
  background: #f9f9f9;
}

button{
  border: 0;
  background: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.login{
  width: 15rem;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0 10px #3334;
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login label{
  font-size: 0.8rem;
}

.marker-images{
  max-height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.marker-images img{
  width: 100%;
}

.main-nav{
  position: absolute;
  z-index: 1000;
  top: 20px;
  right: 25px;
}

.main-nav button{
  box-sizing: border-box;
  color: #1959ce;
  background: #fff;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.5px;
  width: 100%;
  border-radius: 6px;
  border: 2px solid transparent;
}

button.dropdown-toggle{
  background: none;
}

.main-nav button:focus{
  outline: none;
  border: 2px solid #1c63e6;
}

.dropdown{
  position: absolute;
  width: 15rem;
  right: 0;
  top: 125%;
  background: #fff;
  box-shadow: 0 2px 10px #3333;
  opacity: 0;
  transition: opacity 300ms;
}

.dropdown.open{
  opacity: 1;
}

.dropdown, .dropdown button{
  border-radius: 6px;
}

.collapsible-body{
  height: 0;
  overflow-y: auto;
  background: #f9f9f9;
  transition: height 300ms;
}

.collapsible-body.open{
  height: 9rem;
}

.collapsible-body button{
  font-size: 0.8rem;
  background: #f9f9f9;
}
